* {
    margin: 0;
    padding: 0;

}

div{
    border: solid;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 25vw;
    font-size: 4rem;
    margin-left: 35%;
    gap: 10px;

}


.row1{
    border-color: red;
    display: flex;
    gap: 10px;

}

.row1 div {
    height: 100px;
    width:100px;
    text-align: center;
    align-content: center;

}

.row2{
    border-color: green;
    display: flex;
    gap: 10px;
 
}

.row2 div {
    height: 100px;
    width:100px;
    text-align: center;
    align-content: center;
}

.row3{
    border-color: blue;
    display: flex;
    gap: 10px;
    
}

.row3 div {
    height: 100px;
    width:100px;
    text-align: center;
    align-content: center;
}



